body {
  background-color: #b3cde0;
  font-family: Arial, Helvetica, sans-serif;
}

.subheading {
  font-size: 24px;
}

.riskfactor-information {
  margin-top: 10vh;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-left: 10vw;
  margin-right: 10vw;
}
