body {
  background-color: #b3cde0;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  text-align: center;
  font-weight: bold;
}

.title {
}

.button-div {
  margin-top: 5vh;
}

.form {
}

.button {
  background-color: #6497b1;
  color: aliceblue;
  text-decoration: none;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 12px;
  margin: 3vw;
  transition-duration: 0.5s;
  border: 2px solid #000;

}

.button:hover {
  background-color: aliceblue;
  color: #6497b1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.select-user {
  margin-top: 5vh;
}
