body {
  background-color: #b3cde0;
  font-family: Arial, Helvetica, sans-serif;
}

.appointment {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 15px;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 2vh;
}

.appointment p {
  margin: 0;
}

.appointment-icon {
  width: 100%;
  height: auto;
  max-width: 100px;
  float: right;
  display: block;
}
