{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Civilian</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/registercivilian.css' %}"
    />

</head>
<body>

    <div> 
        <h2> Please enter your credentials, Citizen. </h2>
    </div>

    <!-- Entering Credentials to become a Citizen in the Database. -->
    <div>
        <form>
            <label for="civ-hcc">HealthCare Number: </label>
            <input type="number" id="civ-hcc" name="civ-hcc">

            <label for = "phone-no">Phone Number</label>
            <input type = "number" id = "phone-no" name = "phone-no"> 

            <label for = "sex">Biological Sex</label>
            <select id="sex" name="sex">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>

            <label for = "address">Address</label>
            <input type = "text" id = "address" name = "address">

            <label for = "age">Age</label>
            <input type = "number" id = "age" name = "age">
            
            <label for = "first-name">First Name</label>
            <input type = "text" id = "first-name" name = "first-name">

            <label for = "last-name">Last Name</label>
            <input type = "text" id = "last-name" name = "last-name">

            <label for = "doctor-hcc">Doctor Hcc</label>
            <input type = "number" id = "doctor-hcc" name = "doctor-hcc">

            <input type="submit" value="Submit">

        </form>
    </div>

<!-- TODO: add db functionality, link css so it isnt ugly. -->

</body>
</html>

