{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register as Civilian</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/register_civilian.css' %}"
    />
  </head>
  <body>
    <div>
      <h2 class="please-enter">Please enter your credentials, Civilian.</h2>
    </div>

    <!-- Entering Credentials to become a Citizen in the Database. -->
    <div>
      <form method="POST">
        {% csrf_token %} Health Care Number:
        <input
          type="text"
          id="civ_hcc"
          name="hcc_no"
          required
          autocomplete="off"
        /><br />

        Phone Number:
        <input
          type="text"
          id="phone_no"
          name="phone_no"
          required
          autocomplete="off"
        /><br />

        Biological Sex:
        <select id="sex" name="sex" required>
          <option value="M">M</option>
          <option value="F">F</option></select
        ><br />

        Address:
        <input
          type="text"
          id="address"
          name="address"
          required
          autocomplete="off"
        /><br />

        Age:
        <input
          type="text"
          id="age"
          name="age"
          required
          autocomplete="off"
        /><br />

        First Name:
        <input
          type="text"
          id="first_name"
          name="first_name"
          required
          autocomplete="off"
        /><br />

        Last Name:
        <input
          type="text"
          id="last_name"
          name="last_name"
          required
          autocomplete="off"
        /><br />

        Doctor Health Care Number:
        <input
          type="text"
          id="doctor_hcc"
          name="doctor_hcc"
          required
          autocomplete="off"
        /><br />

        <p><strong>A few questions about you: </strong></p>

        Do you live in a high risk area? (Seniors home, hospices, etc.)
        <select id="location" name="location" required>
          <option value="No">No</option>
          <option value="Yes">Yes</option></select
        ><br />

        Do you work in a high risk industry? (Healthcare, service industry,
        etc.)
        <select id="occupation" name="occupation" required>
          <option value="No">No</option>
          <option value="Yes">Yes</option></select
        ><br />

        <br/>
      <!-- Forms to create health conditions (default will be 2 - in future should add to homepage, add health conditions ? )-->
      <div>
        <strong>Please enter any health conditions you may have. (Up to 2) </strong><br/>
        <strong>Note: </strong>You may add more health conditions following registration. 
        <br/>
        <input
          type="text"
          id="health_condition1"
          name="health_condition1"
          autocomplete="off"
        /><br />

        <input
          type="text"
          id="health_condition2"
          name="health_condition2"
          autocomplete="off"
        /><br />
      </div>

        <br />
        <input type="submit" value="Submit" />

      </form>
    </div>

    <div class="login-section">
      <br />
      Already Registered?
      <a class="button" href="{% url 'tracker:civilian_login' %}"> Login </a>
    </div>

    <!-- borrowed functionality concepts from: https://www.youtube.com/watch?v=d9fx8qrJyCY&ab_channel=HarithaComputers%26Technology-->
  </body>
</html>
