{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Appointments</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/civilian_appointments.css' %}"
    />
  </head>
  <body>
    <h2 class="heading">My Appointments</h2>
    {% if my_appointments %}
    <div class="appointment-info">
      {% for appointment in my_appointments %}
      <div class="appointment">
        <img
          class="appointment-icon"
          src="{% static 'tracker/graphics/appointment.png' %}"
          alt="appointment"
        />
        <p>Time: {{appointment.time}}</p>
        <p>Location: {{appointment.vaccination_site_address}}</p>
        <br />
        <p>Vaccine: {{appointment.vaccine_DIN_no}}</p>
        <p>Nurse: {{appointment.nurse_hcc_no.get_fullname}}</p>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="no-appointments">You do not currently have any appointments.</p>
    {% endif %}
    <div class="buttons">
      <a class="button" href="{% url 'tracker:add_appointment' hcc_no=my_civilian.hcc_no %}">Add Appointment</a> 
    </div>
  </body>
</html>
