{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Homepage</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/civilian_homepage.css' %}"
    />
  </head>
  <body>
    <div class="information">
      <p class="subheading">My Information</p>
      <ul>
        <li>Name: {{my_civilian.get_fullname}}</li>
        <li>Age: {{my_civilian.age}}</li>
        <li>Sex: {{my_civilian.sex}}</li>
        <li>Address: {{my_civilian.address}}</li>
        <li>Phone Number: {{my_civilian.phone_no}}</li>
        <li>Family Doctor: Dr. {{my_civilian.doctor_hcc.get_fullname}}</li>
      </ul>
    </div>
    <div class="health-conditions">
      {% if my_health_conditions %}
      <p class="subheading">Health Conditions</p>
      <ul>
        {% for condition in my_health_conditions %}
        <li>{{condition.condition}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="buttons">
      <a class="button">Edit Information</a>
      <a class="button">Appointments</a>
      <a class="button">Risk Factor</a>
      <a class="button">My Doctor</a>
    </div>
  </body>
</html>
