{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Doctor</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/civilian_doctor.css' %}"
    />
  </head>
  <body>
    <div>
      <h2 class="heading">Dr. {{my_doctor.get_fullname}}</h2>
      <div class="doctor-info">
        <p>Phone: {{my_doctor.phone_no}}</p>
        <p>Address: {{my_doctor.address}}</p>
        <p>Place of Practice: {{my_doctor.place_of_practice}}</p>
      </div>
    </div>
    {% if my_doctor_certifications %}
    <div>
      <h2 class="heading">Certifications</h2>
      <ul class="certifications">
        {% for certification in my_doctor_certifications %}
        <li class="certification">{{certification.certification}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </body>
</html>
