{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Homepage</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/civilian_homepage.css' %}"
    />
  </head>
  <body>
    <h2 class="header">My Information</h2>
    <div class="information">
      <p>Name: {{my_civilian.get_fullname}}</p>
      <p>Age: {{my_civilian.age}}</p>
      <p>Sex: {{my_civilian.sex}}</p>
      <p>Address: {{my_civilian.address}}</p>
      <p>Phone Number: {{my_civilian.phone_no}}</p>
      <p>Family Doctor: Dr. {{my_civilian.doctor_hcc.get_fullname}}</p>
    </div>
    <p class="subheading">Health Conditions</p>
    <div class="health-conditions">
      {% if my_health_conditions %}
      <ul>
        {% for condition in my_health_conditions %}
        <li>{{condition.condition}}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No health conditions on file.</p>
      {% endif %}
    </div>
    <div class="buttons">
      <a class="button">Edit Information</a>
      <a
        class="button"
        href="{% url 'tracker:civilian_appointments' hcc_no=my_civilian.hcc_no %}"
        >Appointments</a
      >
      <a
        class="button"
        href="{% url 'tracker:civilian_riskfactor' hcc_no=my_civilian.hcc_no %}"
        >Risk Factor</a
      >
      <a
        class="button"
        href="{% url 'tracker:civilian_doctor' hcc_no=my_civilian.hcc_no %}"
        >My Doctor</a
      >
    </div>
  </body>
</html>
