{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vaccine Management App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/index.css' %}"
    />
  </head>
  <body>
    <div class="content">
      <h1 class="title">Vaccine Appointment Tracker</h1>
      <div class="button-div">
        <a class="button" href="{% url 'tracker:civilian_login' %}">Civilian</a>
        <a class="button" href="{% url 'tracker:nurse_login' %}">Nurse</a>
      </div>
      <p class="select-user">Please select a user type.</p>
    </div>
  </body>
</html>
