{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Civilian Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/login_page.css' %}"
    />
  </head>
  <body>
    <div class="header">
      <h2>Please enter your login information, Nurse.</h2>
    </div>

    <!-- Enter Login information for the Nurse to access their information -->
    <div class="login">
      <form class="box" method="POST">
        <h2>Login:</h2>
        {% csrf_token %}
        <label for="nurse-hcc"> HealthCare Number: </label>
        <input type="number" id="nurse-hcc" name="nurse-hcc" required />
        <button type="submit">Login</button><br />
      </form>

      <div class="error">
        {% if messages %}
        <div>{% for message in messages %} {{ message }} {% endfor %}</div>
        {% endif %}
      </div>

      Don't have an account?
      <a class="reg_but" href="/nurse/add">Register</a>
    </div>
  </body>
</html>
