<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse Appointments</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/nurseAppointments.css' %}"
    />
</head>
<body>
    <p>List of All Appointments</p>
    <a href="{% url 'tracker:nurse_appointments' %}">Nurse</a> 
</body>
</html>