<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nurse Vaccines List</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/nurse_vaccines.css' %}"
    />
  </head>
  <body>
    <p class="header">List of All Available Vaccines</p>
      {% for vaccine in vaccine_obj %}
      <p class="vaccine">
        <img
          class="vaccine-graphic"
          src="{% static 'tracker/vaccine.svg' %}"
          alt="vaccine"
        />
        DIN: {{ vaccine.DIN_no }}
        <br />
        Disease Treated: {{ vaccine.disease_treated}}
        <br />
        Recommended Dose: {{ vaccine.recommended_dose}}
        <br />
        Expiry Date: {{ vaccine.expiry_date}}
        <br />
        Manufacturer Name: {{ vaccine.manufacturer_name}}
        <br />
        <br />
        <a
          class="button"
          href="{% url 'tracker:nurse_vaccine_details' DIN_no=vaccine.DIN_no %}"
          >More Info</a
        >
      </p>
      {% endfor %}
    </ul>
  </body>
</html>
