<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nurse Appointments</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/nurse_appointments.css' %}"
    />
  </head>
  <body>
    <h2 class="header">List of All Appointments</h2>
    <div>
      {% if nurse_obj %} {% for appointment in nurse_obj %}
      <div class="appointment">
        <img
          class="appointment-icon"
          src="{% static 'tracker/graphics/appointment.png' %}"
          alt="appointment"
        />
        <p>Appointment ID: {{ appointment.appointment_id }}</p>
        <p>{{ appointment.vaccine_DIN_no}}</p>
        <p>{{ appointment.nurse_hcc_no}}</p>
        <p>{{ appointment.civilian_hcc_no}}</p>
        <p>{{ appointment.vaccination_site_address}}</p>
      </div>
      {% endfor %} {% else %}
      <p>No appointments scheduled.</p>
      {% endif %}
    </div>
  </body>
</html>
