<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse Vaccines List</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tracker/nurseVaaccines.css' %}"
    />
</head>
<body>
    <p>List of All Available Vaccines</p>
    <a href="{% url 'tracker:civilian_login' %}">Civilian</a> 
    <a href="{% url 'tracker:nurse_login' %}">Nurse</a>  
</body>
</html>